{% extends "base.html" %}
{% block title %}Live Camera{% endblock %}
{% block content %}
<h1>📷 Live Camera</h1>

<button id="startBtn" onclick="startCamera()">▶️ Start Camera</button>
<button id="stopBtn" onclick="stopCamera()">⏹️ Stop Camera</button>
<button id="recordBtn" onclick="startRecord()">🔴 Start Recording</button>
<button id="stopRecordBtn" onclick="stopRecord()">⏸️ Stop Recording</button>

<p id="recordStatus"></p>

<br>
<select id="filterSelect" onchange="updateFeed()">
    <option value="none">No Filter</option>
    <option value="grayscale">Grayscale</option>
    <option value="sepia">Sepia</option>
    <option value="cartoon">Cartoon</option>
    <option value="invert">Invert</option>
    <option value="blur">Blur</option>
    <option value="yolo">Object Detection (AI)</option>
</select>

<br><br>
<img id="camFeed" src="" width="500">

<script>
    async function startCamera() {
        await fetch("/camera/start", { method: "POST" });
        updateFeed();
    }

    async function stopCamera() {
        await fetch("/camera/stop", { method: "POST" });
        document.getElementById('camFeed').src = "";
    }
   //tempat preview
    function updateFeed() {
        const filter = document.getElementById('filterSelect').value;
        document.getElementById('camFeed').src = "/video_feed?filter_type=" + filter + "&t=" + Date.now();
    }

    async function startRecord() {
        const filter = document.getElementById('filterSelect').value;
        const body = new URLSearchParams({ filter_type: filter });
        const res = await fetch("/camera/record/start", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body
        });
        const data = await res.json();
        if (data.status === "recording") {
            document.getElementById("recordStatus").innerText = "🔴 Recording...";
        } else {
            document.getElementById("recordStatus").innerText = "⚠️ " + data.message;
        }
    }

    async function stopRecord() {
        const res = await fetch("/camera/record/stop", { method: "POST" });
        const data = await res.json();
        if (data.status === "stopped") {
            document.getElementById("recordStatus").innerText = "✅ Saved: " + data.path;
        } else {
            document.getElementById("recordStatus").innerText = "⚠️ " + data.message;
        }
    }
</script>
{% endblock %}